@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body{
    background-color: #000;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 50px;
    background: #333;
}
header a{
    color: #fff;
}
header .logo{
    font-size: 24px;
    font-weight: 600;
    padding: 0 10PX;
}
header .logo .header_logo{
    font-size: 30px;
    font-weight: 600;
    color: crimson;
}
header .navbar a{
    text-transform: capitalize;
    font-size: 18px;
    padding: 0 20px;
}
header .navbar a:hover{
    color: crimson;
    transition: all ease 0.2s;
}
.active{
    position: relative;
}
.active::after{
    position: absolute;
    content: '';
    background: crimson;
    width: 25px;
    height: 2px;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
}

/* ----------------------home starts--------------------- */

/* ----------------------home ends--------------------- */

/* --------------------gallery starts---------------------- */
.gallery{
    padding: 0 40px;
}
.gallery .heading-title{
    color: crimson;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin: 30px 0;
    position: relative;
}
.gallery .heading-title::after{
    position: absolute;
    content: '';
    background: crimson;
    width: 60px;
    height: 4px;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
}
.gallery .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3.5rem;
    margin: 0 70px;
 }
 
.gallery .box-container .box:hover .image img{
    transform: scale(1.1);
 }
 
 .gallery .box-container .box .image{
    height: 24rem;
    overflow: hidden;
 }
 
 .gallery .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
 }
 .gallery .box-container .box .content{
    background-color: aliceblue;
 }
 .gallery .box-container .box .content{
    padding: 3rem;
    text-align: center;
 }
 
 .gallery .box-container .box .content h3{
    font-size: 2rem;
    color: #333;
    font-weight: 600;
 }
 
 .gallery .box-container .box .content p{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(92, 88, 88);
    line-height: 1.5;
    padding: 1rem 0;
    margin-bottom: 25px;
 }
 .gallery .box-container .box .content .btn{
     background-color: crimson;
     color: #fff;
     padding: 17px 24px;
     text-transform: capitalize;
     font-size: 18px;
     border-radius: 0.5rem;
     font-weight: 700;
 }
 .gallery .box-container .box .content .btn:hover{
     border: 1px solid crimson;
     color: #000;
     background-color: transparent;
     font-weight: 600;
 }
 /* --------------------gallery ends---------------------- */


/* --------------------new pc section starts------------------ */
 .pc-container{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 5rem;
     margin-top: 5rem;
     flex-wrap: wrap;
     padding: 0 40px;
     border-radius: .5rem;
 }
 .pc-container .pc-box{
    background: #ffffff;
    /* border: 2px solid #ccc; */
    border-radius: .5rem;
    margin: 20px;
    width: 22%;
 }
 .pc-container .pc-box .pc-item-img{
     padding: 10px;
     background: #ccc;
     text-align: center;
 }
 .pc-container .pc-box .pc-item-img img{
     width: 250px;
     height: 220px;
     object-fit: cover;
     filter: drop-shadow(0 3px 5px rgba(0,0,0,.7));
 }
 .pc-details h3{
     padding: 12px;
     font-size: 22px;
     margin-top: 8px;
 }
 .pc-details .pc-short-description ul{
    display: block;
    list-style-type: disc;
    padding: 30px;
    margin-top: -25px
 }
 .pc-details .pc-short-description li{
     font-size: 14px;
     color: #666;
     padding: 4px;
 }
 .pc-details .pc-item-price hr{
     margin: 0 auto;
     width: 80%;
     margin-bottom: 10px;
 }
 .pc-details .pc-item-price{
     color: crimson;
     font-size: 22px;
     font-weight: 600;
     text-align: center;
     margin-bottom: 20px;
 }
/* --------------------new pc section starts------------------ */

 /* ---------------------main gallery starts----------------- */
 .main-gallery .main-heading{
    width: 50%;
    padding-bottom: 50px;
    margin: 0 auto;
 }
 .main-gallery .main-heading h1{
    color: #fff;
    font-size: 3rem;
    font-weight: bolder;
    border-bottom: 3px solid #e2dcdc;
    padding-bottom: 10px;
    margin-top: 50px;
    text-align: center;
 }
 .main-gallery .main-heading h1 span{
     font-weight: 100;
 }
 .main-gallery .main-container{
     margin-top: 30px;
     display: flex;
     flex-wrap: wrap;
     gap: 2.5rem;
     padding: 0 6rem;
 }
 .main-gallery .main-container .main-box{
     position: relative;
     overflow: hidden;
     height: 25rem;
     border: 1rem solid #fff;
     border-radius: .5rem;
     box-shadow: 0 1rem 2rem rgba(148, 147, 147, 0.1);
     flex: 1 1 30rem;
 }
 .main-gallery .main-container .main-box img{
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 .main-gallery .main-container .main-box .main-content{
     position: absolute;
     top: -100%;
     left: 0;
     width: 100%;
     height: 100%;
     text-align: center;
     background: rgba(0, 0, 0, 0.7);
     padding: 2rem;
     padding-top: 7rem;
 }
 .main-gallery .main-container .main-box:hover .main-content{
     top: 0;
 }
 .main-gallery .main-container .main-box h3{
     font-size: 2.5rem;
     color: #fff;
 }
 .main-gallery .main-container .main-box p{
     font-size: 1rem;
     color: #e9dede;
     padding: 0.5px 0;

 }
/* ---------------------main gallery ends----------------- */

 /* -------------------footer starts----------------- */
footer{
    background: url(../images/footer-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10rem;
}
footer .box-container{
    display: flex;
    justify-content: space-evenly;
}
footer .box-container .box h3{
    color: crimson;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 3rem;
    margin-top: 50px;
    margin-bottom: 30px;
}
footer .box-container .box a{
  /* text-transform: capitalize; */
   display: block;
  font-size: 1rem;
  line-height: 1.8rem;
  color: #cbc6c6;
  margin-bottom: 20px;
}
footer .box-container .box a:hover{
    color: #fff;
    text-decoration: underline;
}
footer .box-container .box i{
    color: #fff;
    font-size: 20px;
}
footer .box-container .box i:hover{
    color: crimson;
}
 /* -------------------footer ends----------------- */


